@import url(root.css);
/* Base styles */
body {
  overflow-x: hidden;
}

.committe_container {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.committe_heads {
  color: #000000;
  font-size: 2rem;
  font-weight: 300;
  margin-bottom: 40px;
}

.committe_box {
  margin: 5%;
  border: 1px solid rgb(234, 170, 255);
  border-radius: 20px;
  box-shadow: 0px 0px 10px 2px #e4b0ff;
  padding: 30px;
}

.chief h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.advisory h3 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.col_com {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 5rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .committe_heads {
    font-size: 1.5rem;
  }
  .committe_box {
    margin-left: 0;
    margin-right: 0;
  }
  .col_com {
    display: block;
  }
}
