@import url(root.css);

.contact_container {
  text-align: center;
  padding: 20px;
  background: var(--third-color);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mail_contact {
  margin-top: 20px;
}

.mail_contact a {
  text-decoration: none;
  font-size: 1.5em;
  color: var(--fifth-color);
  transition: color 0.3s;
}

.mail_contact a:hover {
  color: var(--first-color);
}

@media only screen and (max-width: 574px) {
  .mail_contact a {
    font-size: 1.2em;
  }
}
